{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    {% include "nav.html.twig" %}

<ul class="list-group">
    {% for formation in formations %}
        <li class="list-group-item d-flex justify-content-between align-items-center listeFormation">
            <img src="{{ asset('/formationsImg/')}}{{ formation.icon }}"  alt="">{{ formation.formationName }}
            <span class="badge bg-primary rounded-pill">{{ formation.price }}€</span>
        </li>
    {% endfor %}

    {% include "footer.html.twig" %}
{% endblock %}
