@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    text-align: center;
    border: 1px grey solid;
    border-radius: 30px;
}


h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 20px;
}


/************** NAVBAR ***************/
nav{
    background-color: rgb(37, 37, 37);
    margin-bottom: 20px;
}

nav a{
    color: white !important;
    font-weight: bold;
}

nav .container-fluid > a:first-of-type{
    font-style: italic;
    font-size: 30px;
}

nav button{
    color: white !important;
    border-color: white !important;
}

.navbar-nav a:hover{
    opacity: 60%;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.navbar-nav li:nth-of-type(4)>a{
    border: white solid 2px;
    border-radius: 5px;
    font-weight: normal;
}

.navbar-nav li:nth-of-type(5)>a{
    border: white solid 2px;
    border-radius: 5px;
    font-weight: normal;
    margin-left: 5px;
}

.navbar-nav li:nth-of-type(4)>a:hover{
    background-color: white;
    color: rgb(37, 37, 37) !important;
    opacity: 100%;
    transition-duration: 0.5s, 0.5s;
    transition-property: background-color, color;
}

.navbar-nav li:nth-of-type(5)>a:hover{
    background-color: white;
    color: rgb(37, 37, 37) !important;
    opacity: 100%;
    transition-duration: 0.5s, 0.5s;
    transition-property: background-color, color;
}

.admin{
    color: rgb(54, 160, 54) !important;
    text-decoration: underline;
}

nav i{
    font-size: 25px;
}


/************** FOOTER ***************/
footer{
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-top: 20px;
}

footer>section a{
    color: white !important;
    border: solid white 1px !important;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
}

footer>section a:last-of-type{
    margin-right: 0;
}

footer>section a:hover{
    background-color: white;
    color: rgb(37, 37, 37) !important;
}

footer>div{
    background-color: rgb(20, 20, 20);
    font-weight: bold;
    font-size: 15px;
}

/*************** ACCUEIL ******************/


/*************** FORM *****************/

.form-check{
    text-align: left;
}

.submit{
    padding: 10px;
    background-color: rgb(0, 132, 255);
    color: white !important;
    border-radius: 10px;
    border: none;
}

.submit:hover{
    transition-duration: 0.5s;
    opacity: 80%;
}

.contact{
    list-style: none;
    text-align: center;
    margin: 20px 0 20px -10px;
}

.contact i{
    font-size: 20px;
}

.contact li{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.btn-primary{
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    font-size: 18px;
}

legend{
    font-weight: bold;
    font-size: 18px !important;
}

/*************** LISTE DES FORMATIONS *****************/

.listeFormation img{
    width: 50px;
    height: 50px;
}

/*************** LISTE DES ARTICLES *****************/

.card-img-top{
    width: 50px;
    height: 50px;
}

.card{
    margin-bottom: 20px;
}