{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur FormPlat !{% endblock %}

{% block body %}

    {% include "nav.html.twig" %}

        <h1>Bienvenue sur FormPlat !</h1>
        <h2>La plateforme de formations entièrement faite par un développeur, pour les développeurs !</h2>

    {% include "footer.html.twig" %}

{% endblock %}
