{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    {% include "nav.html.twig" %}
    
    <a href="{{ path('listeArticle') }}">Liste des articles</a>
    <a href="{{ path('listeFormation') }}">Liste des formations</a>

    {% include "footer.html.twig" %}
{% endblock %}
